<h3>All Tasks in the Database</h3>
<h1> <%= @tasks %> </h1>

<table>
      <tr>
      	<th>Name of Task</th>
      	<th>Edit</th>
      	<th>Delete</th>

	  </tr>
		   
			<% @tasks.each do |t| %>
			<tr>
			   <td><%= t.title %></td>
			   <td><%= link_to 'Edit', url_for(:tasks, :edit, :title => t.title) %></td>

			   <td><%= button_to 'Delete', url(:tasks, :destroy, :id => t.title), :method => :delete %></td>
			   <% end %>


			<h1> My tasks database</h1>

</table>