<html>
		<title>   <%= @tasks.id Page %> </title>
		<head>
			<title>Products.erb Page</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css" />
		</head>

		<body>
			<h1> Place holder for tasks.erb page</h1>

		</body>
<html>
